/*************************************************************************Common CSS starts************************************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

/*************************************************************************Common CSS ends************************************************************************/

.main {
  color: #1976d2;
  padding: 0 10px;
  max-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*************************************************************************Array Input CSS starts**************************************************************/
.array_container {
  height: 200px;
  margin-top: 30px;
}

.array_input_container label {
  font-size: 1.5rem;
}

#array_input {
  height: 30px;
  margin: 20px 0px 20px 20px;
  border-radius: 15px;
  padding: 0 10px;
  color: #1976d2;
  border: 2px solid #1976d2;
  font-size: 1rem;
}

#array_input:focus {
  outline: none;
}

#array_input::placeholder {
  color: #1976d2;
}

/*************************************************************************Array Input CSS ends****************************************************************/

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.button {
  width: 80px;
  height: 30px;
  border-radius: 15px;
  color: #fff;
  background-color: #1976d2;
  font-size: 1rem;
  text-transform: capitalize;
  border: 2px solid #1976d2;
}

.button:disabled {
  opacity: 0.5;
}

#sort_array_container {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  border: 2px solid #1976d2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#status_heading {
  text-decoration: none;
}

/*************************************************************************Box CSS starts************************************************************************/

.box {
  margin: 10px;
  padding: 5px 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #1976d2;
  border: 2px solid #1976d2;
}

/*************************************************************************Box CSS ends**************************************************************************/

/*************************************************************************Box Animation starts******************************************************************/
.active {
  background-color: #1976d2;
  color: #fff;
}

.move-right {
  animation-name: move-block-right-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

@keyframes move-block-right-animation {
  0% {
    position: relative;
    transform: translate(0px, 0px);
  }
  50% {
    position: relative;
    transform: translate(0px, 50px);
  }
  80% {
    position: relative;
    /* transform: translate(60px, 50px); */
    transform: translate(var(--translate-width), 50px);
  }
  100% {
    position: relative;
    /* transform: translate(60px, 0px); */
    transform: translate(var(--translate-width), 0px);
  }
}

.move-left {
  animation-name: move-block-left-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes move-block-left-animation {
  0% {
    position: relative;
    transform: translate(0px, 0px);
  }
  100% {
    position: relative;
    /* transform: translate(-60px, 0px); */
    transform: translate(calc(-1 * var(--translate-width)), 0px);
  }
}

/*************************************************************************Box Animation ends************************************************************************/

/*************************************************************************Media Query starts************************************************************************/

@media screen and (max-width: 768px) {
  .array_container {
    text-align: center;
  }

  .array_input_container label {
    display: inline-block;
    margin-top: 10px;
  }

  #array_input {
    width: 80%;
    margin: 20px 20px 20px 0px;
  }

  .buttons {
    margin-top: 10px;
  }
}

/*************************************************************************Media Query ends************************************************************************/
