/*************************************************************************Common CSS starts************************************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f82b60;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

/*************************************************************************Common CSS ends************************************************************************/

.main {
  color: #e2e2e2;
  /* width: 100%; */
  padding: 0 10px;
  max-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*************************************************************************Array Elements CSS starts************************************************************************/
.array_container {
  height: 200px;
  margin-top: 30px;
}

/* .array_input_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.array_input_container label {
  font-size: 1.5rem;
}

#array-elements {
  height: 30px;
  margin: 20px 0px 20px 20px;
  border-radius: 10px;
  padding: 0 10px;
  background-color: #e2e2e2;
  border: 2px solid #e2e2e2;
  font-size: 1rem;
}

#array-elements:focus {
  outline: none;
}

/*************************************************************************Array Elements CSS ends************************************************************************/

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.button {
  width: 80px;
  height: 30px;
  border-radius: 15px;
  background-color: #e2e2e2;
  font-size: 1rem;
  text-transform: capitalize;
  border: 2px solid #e2e2e2;
}

#sort_array_container {
  width: 100%;
  height: 200px;
  margin: 20px 15px 0px 15px;
  border: 2px solid #e2e2e2;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#status_heading {
  text-decoration: none;
}

/*************************************************************************Box CSS starts************************************************************************/

.box {
  width: 40px;
  height: 40px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2;
  color: black;
  border: 1px solid black;
}

/*************************************************************************Box CSS ends************************************************************************/

/*************************************************************************Box Animation starts************************************************************************/
.active {
  background-color: yellow;
}

.move-right {
  animation-name: move-block-right-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

@keyframes move-block-right-animation {
  0% {
    position: relative;
    transform: translate(0px, 0px);
  }
  50% {
    position: relative;
    transform: translate(0px, 50px);
  }
  80% {
    position: relative;
    transform: translate(60px, 50px);
  }
  100% {
    position: relative;
    transform: translate(60px, 0px);
  }
}

.move-left {
  animation-name: move-block-left-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes move-block-left-animation {
  0% {
    position: relative;
    transform: translate(0px, 0px);
  }
  100% {
    position: relative;
    transform: translate(-60px, 0px);
  }
}

/*************************************************************************Box Animation ends************************************************************************/

/*************************************************************************Media Query starts************************************************************************/

@media screen and (max-width: 768px) {
  /* .array_container {
    text-align: center;
    width: 100%;
  } */
  .array_input_container label {
    display: inline-block;
    margin-top: 10px;
  }
  #array-elements {
    width: 90%;
  }
  /* #sort_array_container {
    width: 90%;
  } */
  .buttons {
    margin: 10px;
  }
}

/*************************************************************************Media Query ends************************************************************************/
